// FONT FACE DECLARATIONS
@font-face {
  font-family: Migra;
  src: url(Migra-Extrabold-800.ttf);
}

@font-face {
  font-family: Euclid;
  src: url(Euclid-Regular.ttf);
}

// ANIMATIONS
@-webkit-keyframes move {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-2536.84px);
  }
}
@keyframes move {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-2536.84px);
  }
}

//VARIABLE DECLARATION
$default: 1.6rem;
$font-display: Euclid, "Poppins", sans-serif;
$font-main: Migra, "Poppins", sans-serif;

:root {
  --white: #ffffff;
  --black: #121212;

  --gray: #888;

  --shadow: rgba(18, 18, 18, 0.2);
}

::-moz-selection {
  color: var(--white);
  background-color: var(--black);
}

::selection {
  color: var(--white);
  background-color: var(--black);
}

// DARK MODE BTN
.hide {
  display: none;
}

// BASIC RESET
html {
  font-size: 62.5%;

  @media only screen and (max-width: 75em) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 50em) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: Euclid, "Poppins", sans-serif;

  font-size: $default;
  font-weight: 400;
  line-height: 1.4;

  background-color: var(--white);

  transition: all 0.5s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.icon {
  fill: var(--black);
  cursor: pointer;
}

.icon-invert-1 {
  fill: var(--white);
  cursor: pointer;
}

.icon-invert {
  fill: var(--white);
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.desk-elem {
  @media only screen and (max-width: 50em) {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 6rem;

  transition: inherit;

  z-index: 3;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--white);

  @media only screen and (max-width: 62.5em) {
    padding: 2.5rem 2rem;
  }

  @media only screen and (max-width: 50em) {
    padding: 2.5rem 8rem;
  }
  @media only screen and (max-width: 37.5em) {
    padding: 2.5rem 4rem;
  }
}

.logo {
  &:link,
  &:active,
  &:visited {
    font-family: $font-main;
    font-size: 4rem;
    line-height: 4.8rem;
    display: block;
    text-decoration: none;
    color: var(--black);
  }
}

.nav {
  &__list {
    list-style-type: none;
    display: flex;
  }

  &__item {
    &:not(:last-child, :nth-last-child(2)) {
      margin-right: 1rem;
    }
  }

  &__link {
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      padding: 8px;
    }
  }
}

.intro {
  transition: inherit;

  margin-top: 4rem;

  padding: 0 6rem;

  @media only screen and (max-width: 62.5em) {
    padding: 0 2rem;
  }

  @media only screen and (max-width: 50em) {
    padding: 0 8rem;
  }
  @media only screen and (max-width: 37.5em) {
    padding: 0 4rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    background-color: var(--black);
    border-radius: 100px;

    .left {
      color: var(--white);
      font-size: 2.4rem;
      display: flex;
      align-items: center;

      .heading-4 {
        font-weight: 500;
      }

      .divider {
        margin: 0 2.8rem;
      }

      .paragraph {
        font-size: 2rem;

        @media only screen and (max-width: 56.25em) {
          font-size: 1.8;
        }
      }
    }

    .right {
      .btn {
        display: inline-flex;
        align-items: center;
        padding: 2rem;
        border-radius: 50px;
        color: var(--black);
        background-color: var(--white);

        &:link,
        &:visited,
        &:active {
          text-decoration: none;
        }

        &__text {
          display: inline-block;
          margin-left: 1rem;
        }
      }
    }
  }
}

.copy {
  margin: 8rem auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 8rem;

  @media only screen and (max-width: 56.25em) {
    flex-wrap: wrap;
    justify-content: center;

    padding: 0 4rem;
  }

  &__image-box {
    flex-basis: 32%;

    @media only screen and (max-width: 56.25em) {
      flex-basis: 50%;
    }

    @media only screen and (max-width: 37.5em) {
      flex-basis: 60%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    fill: var(--black);
  }

  &__text {
    flex-basis: 35%;

    @media only screen and (max-width: 56.25em) {
      flex-basis: 100%;
    }

    .heading-2 {
      color: var(--black);
      font-size: 4.8rem;
      text-transform: uppercase;
      font-family: $font-main;
      letter-spacing: 4px;

      margin-bottom: 4rem;
    }

    .paragraph {
      color: var(--gray);
      font-size: 2.4rem;
    }

    .highlight {
      font-weight: 500;
      color: var(--black);
    }
  }
}

.marquee {
  margin: 8rem 0;
  overflow: hidden;
  color: var(--black);

  ul {
    display: flex;
    align-items: center;
    gap: 2rem;

    list-style-type: disc;
    white-space: nowrap;

    -webkit-animation: move 50s linear 0s infinite normal none running;

    animation: move 50s linear 0s infinite normal none running;
  }

  li {
    font-size: 1.4rem;
  }
}

.footer {
  text-align: center;
  padding-bottom: 8rem;

  .heading-3 {
    @media only screen and (max-width: 56.25em) {
      font-size: 10vw;
    }

    @media only screen and (max-width: 37.5em) {
      font-size: 9vw;
    }

    color: var(--black);
    font-size: 11vw;
    font-family: $font-main;
    margin-bottom: 8rem;
    line-height: 1;

    .strike {
      text-decoration: line-through;
      text-decoration-thickness: 1vw;
    }
  }

  .join-us {
    @media only screen and (max-width: 56.25em) {
      padding: 0 4rem;
    }

    .paragraph {
      color: var(--gray);
      margin-bottom: 4rem;
      font-size: 2rem;

      .break {
        display: block;

        @media only screen and (max-width: 50em) {
          display: inline;
        }
      }
    }

    .socials {
      .icon-box {
        position: relative;

        &:not(:last-child) {
          margin-right: 4rem;
        }

        &::before {
          content: "";

          position: absolute;
          top: -8px;
          left: -8px;

          padding: 16px;

          width: 24px;
          height: 24px;
          z-index: -1;

          background-color: var(--black);

          border-radius: 50%;

          @media only screen and (max-width: 75em) {
            top: -10px;
          }
        }
      }
    }
  }

  .copyright {
    font-size: 2rem;
    color: var(--black);
    margin-top: 4rem;

    .dev-light {
      font-size: $default;
      color: var(--gray);
      font-family: $font-main;
    }
  }
}

.converter {
  margin: 8rem 1.5rem;
  padding: 0 4rem;

  @media only screen and (max-width: 62.5em) {
    padding: 0rem 2rem;
  }

  @media only screen and (max-width: 50em) {
    padding: 0rem 8rem;
  }
  @media only screen and (max-width: 37.5em) {
    padding: 0rem 4rem;
  }

  .form {
    display: flex;
    justify-content: space-evenly;

    @media only screen and (max-width: 56.25em) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 8rem;
    }

    gap: 4rem;
  }

  .english,
  .danish {
    box-shadow: 0 0.4rem 2rem var(--shadow), 0 -0.4rem 2rem var(--shadow);

    border-radius: 4rem;
    flex-basis: 45%;

    @media only screen and (max-width: 56.25em) {
      flex-basis: 80%;
    }
    @media only screen and (max-width: 50em) {
      flex-basis: 100%;
    }
  }

  .top {
    border-bottom: 0.1rem solid var(--black);

    padding: 3rem;
  }

  .between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .country-info {
    display: flex;
    align-items: center;
  }

  .flag {
    max-width: 100%;
    display: block;
    margin-right: 2rem;
  }

  .lang {
    font-size: 2.4rem;
    line-height: 2rem;
    color: var(--black);
  }

  .bottom {
    padding: 3rem 0;
  }

  .textarea {
    &:placeholder-shown + .buttons > .translate-now {
      background-color: var(--gray);
      cursor: none;
    }

    transition: all 0.5s ease-in-out;
    height: 36rem;
    width: 100%;

    font-size: 2rem;

    padding: 2.5rem;
    color: var(--black);
    background-color: var(--white);

    font-family: $font-display;

    resize: none;
    outline: none;
    border: none;

    &::-webkit-input-placeholder {
      color: var(--gray);
    }

    &::-moz-placeholder {
      color: var(--gray);
    }

    &:-ms-input-placeholder {
      color: var(--gray);
    }

    &::-ms-input-placeholder {
      color: var(--gray);
    }

    &::placeholder {
      color: var(--gray);
    }
  }

  .buttons {
    padding: 0 2.5rem 2.5rem;
  }

  button {
    background-color: transparent;
    outline: none;

    border: none;
  }

  .translate-now {
    font-size: 2rem;
    color: var(--black);

    background-color: var(--black);
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;

    span {
      color: var(--white);

      font-family: $font-display;
      margin: 2rem;
    }
  }
}
